exportPattern("*")


import(methods)
import(phylobase)
importFrom(ape,checkLabel)
importFrom(ape,collapse.singles)
importFrom(ape,is.rooted)
importFrom(ape,read.tree)
importFrom(ape,is.binary.tree)
importFrom(ape,edgelabels)
importFrom(ape,plot.phylo)
importFrom(ape,write.tree)
importFrom(ape,read.nexus)
import(grid)
importFrom(stats,runif)



